@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: black;
  color: white; /* Set text color to white for better visibility */
}
.jumbotron {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: none; /* Set the height as a percentage of the width (10% for a 10:1 ratio) */
    align-content: center;
    /* margin: 2rem; */
  overflow: hidden; /*Hide any content that overflows the banner*/
}

.jumbotron img {
  width: 100%; /* Make the image fill the entire width of the container */
  height: 100%; /* Make the image fill the entire height of the container */
  object-fit: cover; /* Maintain the aspect ratio while covering the entire container */
}
img.img-fluid{
    height: 500px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Optional: adjust as needed */
}

.card {
  width: 18rem;
  margin-bottom: 20px; /* Optional: adjust spacing between cards */
}
